#div_header_container 
{ 
    flex-direction: row-reverse
}

@media (max-width: 767px) {
    #div_header_container 
    { 
        flex-direction: row
    }
}


/**
FORMS
**/

form input.error {
    border-color: red;
    border-width: 1px;
}

form label.error {
    margin-top: 2.5px;
    color: red;
    font-size: 14px;
}