#div_header_container 
{ 
    flex-direction: row-reverse
}

@media (max-width: 767px) {
    #div_header_container 
    { 
        flex-direction: row
    }
}


/**
FORMS
**/

form input.error {
    border-color: red;
    border-width: 1px;
}

form label.error {
    margin-top: 3.5px;
    color: red;
    font-size: 14px;
}

form input.error:focus {
    box-shadow: 0 0 0 3px #ff00004b;
    border-color: red;
}